/* makes browser calculate total size of the boxes */

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

#container {
	display: grid;
	grid-template-columns: [first]40% [second]auto;
	grid-template-rows: [row-1]25% [row-2]25%;
	grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: start;
}
