html { 
	margin: 2em 1em 0em 1em;
}

body {
	font-family:'Carrois Gothic', sans-serif;
	float: left;
}

.site-title {
	font-size: 2em;
	float: left;
	margin: 0em 0em 0.75em 2em; 
}
.title-vic {
	border-bottom: 1px solid black;
	padding-bottom: .1em;

}

.para1 {
	width: 25%;
	float: left;
	clear: left;
	font-size: 1em;
	text-align: justify;
	color: #ff7D33;
	margin: 0em 0em 0.75em 4em; 
}

.profiles { 
	float: left;
	margin-left: 40em;
}

.contacts {
	display: inline-block;
	
}

ul {
	padding-left: 0.5em;
}

li {
	list-style: none;
}

li a { 
	text-decoration: none;
}

a:hover { 
	color: #ff7D33;
}

